* {
  background-color: black;
  color: white;
}

header {
  text-align: center;
}

.intro {
  max-width: 500px;
  text-align: center;
  margin: 0 auto 50px;
  padding: 0 20px 0;
}

.queue {
  text-align: center;
}

.home-background {
  height: 100%;
  width: 100%;
}

.adopt-button {
  display: block;
  margin: 0 auto 0;
}
