* {

  color: white;
}

.dog, .cat {
 
display: block;
margin: auto;

width: 420px;

}
img {
  max-width: 420px;
}

p {

}

h1, .Adoption {
  text-align: center;
}

.Adoption {
  margin-bottom: 100px;
}

.home-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.queue {
  text-align: center;
  padding-bottom: 150px;
}
